/* Variables */
:root {
  --red: #bd5b56;
  --dblue: #475699;
  --green: #2a7f62;
  --black: #323031;
  --dwhite: white;
}

/* Primary */
body {
  background-color: var(--dwhite);
  color: var(--black);
}

h1 {
  color: var(--dwhite);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* Tables */
table {
  table-layout: table;
  border-collapse: auto;
  border: 3px solid purple;
  font-family: 'verdana', Courier, monospace;
  font-size: 10px;
}

.tracker-table-wrapper {
  height: 800px;
  overflow-y: auto;
}

#tracker-table th, td {
  white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#logo {
  width: 20%;
  height: auto;
}

#navbar {
  background-color: var(--black);
  color: var(--dwhite);
}

.jumbo {
  background-color: var(--dwhite);
  color: var(--green);
  text-align: center;
}

#post-title {
  text-decoration: none;
  color: var(--dblue);
}

#badge {
  background-color: var(--red);
  color: var(--white);
}

#navlink {
  color: var(--dblue);
}

#sidebar {
  text-align: left;
}

#sidebar-header {
  color: var(--green);
  margin: 20px 10px 10px 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}

/* Pagination */
.pagination > li > a {
  background-color: var(--white);
  color: var(--black);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: black;
  background-color: var(--red);
  border-color: var(--red);
}

.pagination > .active > a {
  color: var(--dwhite);
  background-color: var(--black) !important;
  border: solid 1px var(--black) !important;
}

.pagination > .active > a:hover {
  background-color: var(--black) !important;
  border: solid 1px var(--black);
}
